FLASK_APP=backend/run.py
FLASK_ENV=development
DATABASE_URL=postgresql+psycopg://la_user:la_password@localhost:5432/la_contabilidade
POSTGRES_DB=la_contabilidade
POSTGRES_USER=la_user
POSTGRES_PASSWORD=la_password